@import "../../../style/colors.scss";

.ui-table {
    border-top: 1px solid $colorT5;
    border-left: 1px solid $colorT5;

    >.row {
        display: flex;
        border-bottom: 1px solid $colorT5;

        >.col {
            padding: 5px;
            box-sizing: border-box;
            width: 100%;
            border-right: 1px solid $colorT5;
        }

        &.hdr {
            >.col {
                font-weight: bold;
                box-sizing: border-box;
            }
        }

        &:hover {
            background-color: $colorT5;
            cursor: pointer;
        }
    }
}